<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <script src="/js/equipamento.js"></script>-->
    <title>Cadastro de equipamentos</title>
    <script src="./js/script.js" defer></script>
</head>
<body>
    <<div>
        <h1>Cadastro de equipamentos</h1>
        <h4>Digite a nome do equipamento a ser cadastrado e observações pertinentes a ele.</h4>
    </div>

    <div>
        <form class="novo-form" action="http://localhost:8080/equipamentos" method="get">
            <label for="equipo-descricao">Descrição:</label>
            <input type="text" class="equipo-descricao" id="equipo-descricao" name="equipo-descricao" placeholder="Insira uma descrição."><br>

            <label for="equipo-observacao">Observação:</label>
            <input type="text" class="equipo-observacao" id="equipo-observacao" name="equipo-observacao" placeholder="Insira uma observação."><br>

            <input type="submit" value="Salvar">
        </form>
    </div>

</body>
</html>