<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de locais</title>
    <script src="js/script_local.js"></script>
</head>
<body>
<div>
    <h1>Cadastro de Locais</h1>
    <h4>Digite o local no qual o evento será realizado.</h4>
</div>

<div>
    <form id="novo-form">
        <label for="local-nome">Descrição:</label>
        <input type="text" class="local-nome" id="local-nome" name="local-nome"
               placeholder="Insira o nome do local."><br>

        <label for="local-observacao">Observação:</label>
        <input type="text" class="local-observacao" id="local-observacao" name="local-observacao"
               placeholder="Insira uma observação sobre o local."><br>

        <input type="submit" value="Salvar">
    </form>
</div>
</body>
</html>