<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipamentos</title>
    <script src="js/exibir_equipamentos.js"></script>
</head>
    <body>
    <div>
        <h1>Lista de equipamentos</h1>
        <h4>Lista de equipamentos cadastrados que podem ser utilizados nos eventos do Senac</h4>
    </div>

    <ol id="my-list">
        <h2>Equipamentos</h2>
        <table class="table" id="tabelaEquipamentos">
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Observação</th>
            </tr>
        </table>
    </ol>


    </body>
</html>