<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styleLogin.css">
    <script src="/js/login.js"></script>
    <link rel="icon" href="./img/logoTitleSenac.png" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <div class="row mx-auto">
        <div class="col text-md-left">
            <h1 class="w-100">Entrar</h1>
            <p class="text-truncate">Por favor, insira seu e-mail e senha para realizar o login na página!</p>
        </div>
    </div>

    <div id="form-container">
        <form>
            <div id="username-container">
                <label for="username">E-mail:</label>
                <input type="email" id="username" name="username" placeholder="Digite seu login" required>
            </div>
            <div id="password-container">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required minlength="6">
            </div>
            <div id="esqueci_senha-container">
                <a class="texto__esqueci_senha-container" href="redefinirSenha.html">Esqueci minha senha!</p>
            </div>
            <div id="button-container">
                <button onclick="validarLogin()" class="btn btn-primary">Entrar</button>
            </div>
            <div id="nao-cadastrado-container">
                <a class="texto__nao-cadastrado-container" href="cadastro.html">Ainda não sou cadastrado!</p>
            </div>
        </form>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</body>
</html>