<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styleSair.css">
    <link rel="icon" href="./img/logoTitleSenac.png" type="image/x-icon">
    <title>Sair</title>
</head>
<body>
    <div class="row mx-auto">
        <div class="col text-md-left">
            <h1 class="w-100">Você deseja sair?</h1>
        </div>
    </div>
    <div class="botoes">
        <div id="button-container">
            <a href="paginaInicial.html"><h2 class="btn btn-primary">Sim</h2></a>
        </div>
        <div id="button-container">
            <a href="home.html"><h2 class="btn btn-secondary">Não</h2></a>
        </div>
    </div>
    
</body>
</html>