:root {
    --branco: #FFFFFF;
    --laranja: #f78b1f;
    --preto: #000000;
    --azul: #007bff;
}

body {
    background-image: url("../img/fundoFabrica.jpg") !important;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-dark {
    background-color: transparent !important;
}

.nav-link {
    color: var(--branco);
}

.material-symbols-outlined {
    cursor: pointer;
}

.col {
    margin-top: 3em !important;
    margin-left: 0.5em;
    width: fit-content; 
    max-width: 100%;
}

.col h1 {
    font-size: 2em !important;
    color: var(--branco);
}

.col h4 {
    color: var(--branco);
}

.lista {
    display: flex;
    flex-direction: column;
    width: fit-content; 
    max-width: 100%;
    margin-left: 1.5em;
}

#locais-lista {
    display: flex; 
    flex-direction: column; 
    margin-top: 4em; 
    padding-left: 0em;
    gap: 2em;
    width: fit-content; 
    max-width: 100%;
}

.lista-locais__item {
    display: flex;
    color: var(--branco);
    font-weight: 700;
    list-style: none;
    align-items: center;
    gap: 1em;
}

.lista-locais__item__botao {
    width: 5em;
    width: 10em;
    height: 3em;
    background-color: var(--laranja);
    border-color: var(--laranja);
    color: var(--branco);
    cursor: pointer;
}

.ml-auto, .mx-auto {
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-left: 0 !important;
    width: fit-content;
}

@media screen and (max-width: 450px) {
    .col {
        margin-top: 2em !important;
        margin-left: 1em;
        padding-left: 0em;
    }
    
    .col h1 {
        font-size: 1.75em !important;
    }
    
    .col h4 {
        font-size: 1em;
    }
    
    #locais-lista {
        margin-top: 2em;
    }
    
    .lista-locais__item {
        flex-direction: column;
        align-items: initial;
    }
    
    .lista-locais__item__botao {
        width: 100%;
    }
}