:root {
    --branco: #FFFFFF;
    --laranja: #f78b1f;
    --preto: #000000;
    --azul: #007bff;
    --azul-escuro: #0e233e;
    --cinza: #eff0eb;
}

body {
  background-image: url("../img/fundoFabrica.jpg") !important;
  background-size: cover;
  background-attachment: fixed;
}

.navbar-dark {
  background-color: transparent !important;
}

.nav-link {
  color: var(--branco);
  width: fit-content;
}

.material-symbols-outlined {
  cursor: pointer;
}

.col {
  margin-top: 3em !important;
  margin-left: 0.5em;
  width: fit-content;
  max-width: 100%;
}

.col h1 {
  font-size: 2em !important;
  color: var(--branco);
}

.col h4 {
  color: var(--branco);
}

.lista {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
  margin-left: 1.5em;
}

#equipamentos-lista {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  padding-left: 0em;
  gap: 2em;
  width: fit-content;
  max-width: 100%;
}

.lista-equipamentos__item {
  display: flex;
  color: var(--branco);
  font-weight: 700;
  list-style: none;
  align-items: center;
  gap: 1em;
}

.lista-equipamentos__item__botao {
  width: 5em;
  width: 10em;
  height: 3em;
  background-color: var(--laranja);
  border-color: var(--laranja);
  color: var(--branco);
  cursor: pointer;
}

.ml-auto,
.mx-auto {
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin-left: 0 !important;
  width: fit-content;
}

#equipamentos-lista {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 3em;
}

.lista-equipamentos__item {
  display: flex;
  list-style: none;
  color: var(--branco);
  background-color: var(--azul-escuro);
  gap: 1em;
  border-radius: 1em;
  padding: 1em;
  align-items: baseline;
}

.lista-equipamentos__item__descricao {
  font-size: 1.1em;
}

.lista-equipamentos__item__observacao {
  font-size: 1.1em;
}

.lista-equipamentos__item__botoes {
  display: flex;
  gap: 1em;
}

.btn-primary {
  background-color: var(--laranja);
  border-color: var(--laranja);
}

@media screen and (max-width: 450px) {
  .col {
    margin-top: 2em !important;
    margin-left: 1em;
    padding-left: 0em;
  }

  .col h1 {
    font-size: 1.75em !important;
  }

  .col h4 {
    font-size: 1em;
  }

  #equipamentos-lista {
    margin-top: 2em;
  }

  .lista-equipamentos__item {
    flex-direction: column;
    align-items: initial;
  }

  .lista-equipamentos__item__botao {
    width: 100%;
  }
}
